<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
     id="WebApp_ID" version="3.0">

 <display-name>dogwisedata</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dogwiseJDBCServlet</servlet-name>
    <servlet-class>com.msis.dogwiseproject.web.DogWiseDataController</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.msis.dogwiseproject.web.AdminDogInfoEntryController</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.msis.dogwiseproject.web.AdminLoginServlet</servlet-class>
  </servlet>
  
   
  <servlet-mapping>
    <servlet-name>dogwiseJDBCServlet</servlet-name>
    <url-pattern>/DogWiseDataController/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/AdminDogInfoEntryController</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>dogAddition</servlet-name>
  <jsp-file>/admindoglist.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>dogAddition</servlet-name>
  <url-pattern>/adminAddsDog</url-pattern> <!-- Use this URL -->
</servlet-mapping>
  

  
</web-app>